<div class="bg-slate-400">
  <div class="flex container" *ngFor="let item of data">
    <div class="photo w-[70%] pt-2 hidden md:inline-block">
      <!-- Photo Div -->
      <a href="product/{{item.id}}"><img loading="lazy" class="w-[90%] h-[90%] rounded-md border-slate-950 border-r-4 border-b-4"
          src="{{ item.thumbnail }}" alt="" srcset="" /></a>
    </div>
    <div class="name w-full border-white border-r-2 border-l-2 px-2">
      <!-- Name Div  Middle div -->
      <div class="name flex justify-between pt-2">
        <div class="font-bold text-2xl">
          <a href="product/{{ item.id }}">{{ item.title }}</a>

          <span class="text-xs bg-yellow-400 p-[2px] px-1 rounded-xl">{{ item.rating }}<i
              class="bi bi-star-fill text-xs pl-1"></i></span>
        </div>
        <div>
          <img class="w-10 h-6 rounded-full md:hidden" src="{{ item.thumbnail }}" />
        </div>
      </div>

      <!-- Brand -->
      <div class="brand flex text-slate-600">
        <div>{{ item.brand }}</div>
        <div class="mx-4">{{ item.category }}</div>
      </div>
      <div class="discripction text-gray-800">
        {{ item.description }}
      </div>
      <div class="bg-yellow-400 p-[4px] mt-1 rounded-xl w-fit hover:cursor-pointer md:hidden">
        Go to cart🛒
      </div>
    </div>
    <!-- Price Section -->
    <div class="prices w-[70%] pl-2 hidden md:flex justify-center">
      <div class="w-[70%]">
        <div class="price pt-2">
          <!-- Discount -->
          <div class="bg-green-300 w-full p-2 text-center rounded-xl">
            Discount: {{ item.discountPercentage }}% off
          </div>
        </div>
        <div class="flex">
          <div class="bg-green-300 p-2 w-1/2 text-center rounded-xl mt-2">
            <del>{{ item.price | currency : "INR" }} </del>
          </div>
          <div class="bg-green-700 p-2 w-1/2 text-center rounded-xl mt-2 mx-2">
            {{
            (item.price - item.discountPercentage).toFixed(2)
            | currency : "INR"
            }}
          </div>
        </div>
        <!-- Cart section -->
        <div class="cart">
          <div class="mt-3 bg-yellow-400 p-1 text-center w-full rounded-lg hover:cursor-pointer">
            <a href="cart">Go to cart🛒</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>