<nav style="display: flex; justify-content: space-between">
  <div>
    <a class="btn" href="/" style="font-weight: bold">Fake Store API</a>
  </div>
  <div class="d-flex justify-content-center bg-light my-2">
    <a class="btn btn-outline-primary btn-sm mx-2" href="/">Home</a>
    <a class="btn btn-outline-primary btn-sm mx-2" routerLink="login">Login</a>
    <a class="btn btn-outline-primary btn-sm mx-2" routerLink="singup"
      >Singup</a
    >
  </div>
  <div>
    <button class="btn">Cart🛒</button>
  </div>
</nav>
<router-outlet></router-outlet>
