<nav class="flex bg-slate-700 justify-around h-fit p-2">
  <div class="logo">
    <a href="/"><img src="../../../assets/images/navlogo.svg" alt="logo" /></a>
  </div>
  <div class="center">
    <ul class="flex text-white gap-4">
      <li class="hover:cursor-pointer hidden md:inline-block">
        <a routerLink="/">Home</a>
      </li>
      <li class="hover:cursor-pointer hidden md:inline-block">
        <a routerLink="about">About</a>
      </li>
      <li class="hover:cursor-pointer hidden md:inline-block">
        <a routerLink="contact">Contact</a>
      </li>
      <li>
        <input
          class="p-1 px-2 rounded-xl text-black hidden md:inline-block"
          placeholder="🔍Search"
          type="search"
        />
      </li>
    </ul>
  </div>

  <div class="login cursor-pointer hidden md:inline-block">

    <a class="text-white" routerLink="login">Login</a>

    <button (click)="out()" class="text-white ml-2">Logout</button>


    <a class="text-white ml-2" routerLink="signup">Signup</a>
  </div>
  <div class="md:hidden text-white"><a href="#">&#9776;</a></div>
</nav>
