<div class="custom container">
  <div
    *ngFor="let item of data"
    class="card border-warning m-2"
    style="width: 16rem"
  >
    <div class="card-body">
      <div class="undercard">
        <div>
          <h5 class="card-title">{{ item.title.slice(0, 10) }}</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">
            {{ item.category }}
          </h6>
        </div>
        <div>
          <img id="cardphoto" src="{{ item.image }}" />
        </div>
      </div>
      <p class="card-text">
        {{ item.description.slice(0, 100) }}
        <a routerLink="product/{{ item.id }}" class="card-link">Read more</a>
      </p>

      <div>
        <span class="badge text-bg-secondary mx-2">
          <del>{{ (+item.price - +item.price / 10).toFixed(2) }}</del>
        </span>
        <span class="badge text-bg-warning">{{
          item.price | currency : "INR"
        }}</span>
      </div>
    </div>
  </div>
</div>
