<div class="bg-slate-700 h-screen text-white">
  <form
    #fm="ngForm"
    (ngSubmit)="login(em, pw)"
    class="flex flex-col items-center h-[70vh] justify-center"
  >
    <div class="text-center font-semibold text-2xl mb-2">Log-In</div>
    <div
      class="flex flex-col items-center mb-4 w-[50%] p-4 bg-slate-600 rounded-lg drop-shadow-xl text-black font-thin"
    >
      <input
        class="my-2 w-fit px-2 rounded-lg"
        type="email"
        placeholder="Enter Your Email"
        name="email"
        #em="ngModel"
        ngModel
      />

      <input
        class="my-2 w-fit px-2 rounded-lg"
        type="password"
        placeholder="Enter Your Password"
        name="password"
        #pw="ngModel"
        ngModel
      />
      <button class="bg-yellow-400 w-[20%] rounded-xl p-1 px-2 mb-2">
        Submit
      </button>
      <div ><a class="text-sm text-blue-800" routerLink="/signup"> Not have an account register here</a></div>
    </div>
  </form>
</div>
