<div class="p-4">
  <ng-container *ngIf="cart.length > 0">
    <div
      *ngFor="let item of cart; let in = index"
      class="flex flex-wrap sm:justify-between border-b-2 py-2"
    >
      <div class="w-32 h-40">
        <img class="w-28 h-28" src="{{ item.image }}" />
      </div>
      <div class="w-2/4 flex flex-col px-2">
        <div class="font-semibold text-center">{{ item.title }}</div>
        <div>{{ item.description.slice(0, 100) }}</div>
      </div>
      <button
        class="bg-red-700 px-1 w-fit h-fit rounded-xl text-white"
        (click)="remove(in)"
      >
        X
      </button>
    </div>
    <div class="flex justify-end border-b-2 border-blue-500">
      Total Price:{{ total }}
    </div>
    <div class="flex justify-end gap-2 m-2">
      <a class="bg-blue-400 font-semibold px-2 py-1 rounded-xl" routerLink="/"
        >Shop more</a
      >
      <button (click)="payNow()"
        class="bg-green-950 text-white font-semibold px-2 py-1 rounded-xl"
      >
        CheckOut
      </button>
    </div>
  </ng-container>
  <ng-container *ngIf="!(cart.length > 0)">
    <div
      class="flex flex-col gap-2 items-center bg-purple-800 p-10 text-white font-semibold"
    >
      <div class="drop-shadow-2xl shadow-white">Nothing in Cart</div>
      <a
        routerLink="/"
        class="border-2 rounded-lg px-2 py-1 hover:bg-purple-950 hover:cursor-pointer"
        >Shop Now !</a
      >
    </div>
  </ng-container>
</div>
