<div class="container bg-slate-200 p-2">
  <div class="text-center text-2xl font-semibold p-2 mb-4">
    Hello Ashutosh Singh check your shoping bag!
  </div>
  <hr class="mb-4" />
  <!-- items -->
  <div *ngFor="let item of cart; let in = index" class="items flex">
    <div class="logo w-full flex justify-center">
      <!-- Photo section -->
      <a routerLink="/product/{{ item.id }}"
        ><img class="w-[50%] mb-2 rounded-xl" src="{{ item.thumbnail }}"
      /></a>
    </div>
    <div class="middle w-full">
      <!-- Name -->
      <div>
        <a routerLink="/product/{{ item.id }}"> {{ item.title }} </a>
        <span
          ><button (click)="remove(in)"><i class="bi bi-trash3"></i></button
        ></span>
      </div>
      <div class="text-gray-500">
        {{ item.description }} <br />
        Price: {{ item.price }}
      </div>
    </div>
  </div>
  <div class="flex justify-center gap-x-2">
    <div class="w-fit bg-purple-900 text-white px-4 py-2 rounded-2xl">
      Find Total: {{ total }}
    </div>
    <button
      (click)="payNow()"
      class="bg-green-700 px-4 py-2 text-white font-semibold rounded-2xl"
    >
      CheckOut
    </button>
  </div>
</div>
