<div class="flex justify-center p-2">
  <div class="flex flex-col items-center">
    <div class="font-semibold underline">Hey!</div>
    <div class="font-semibold underline">Welcome to Fake Store</div>
    <button
      class="ml-2 text-white bg-red-500 rounded-full px-2 py-1"
      (click)="changeMode()"
    >
      Switch
    </button>
  </div>
</div>

<ng-container class="relative" *ngIf="isLoginMode">
  <div
    class="absolute left-[6.5rem] bottom-[6.5rem] sm:left-4 sm:bottom-[61%] flex flex-col gap-2"
  >
    <div>Demo Admin Credentials:</div>
    <div>UserName: admin</div>
    <div>PassWord: 12345678</div>
  </div>
  <div class="flex flex-col items-center">
    <div class="">
      <form class="flex flex-col gap-2">
        <input
          class="border-2 px-2 py-1 rounded-xl"
          type="text"
          placeholder="Username"
          name="username"
          [(ngModel)]="loinObj.username"
        />
        <input
          class="border-2 px-2 py-1 rounded-xl"
          type="password"
          placeholder="password"
          name="password"
          [(ngModel)]="loinObj.password"
        />
        <button
          (click)="onLogin()"
          class="border-2 py-1 border-pink-400 rounded-xl"
          type="submit"
        >
          Login
        </button>
      </form>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="!isLoginMode">
  <!-- Signup form -->
  <div class="flex flex-col items-center">
    <div class="">
      <form class="flex flex-col gap-2">
        <input
          class="border-2 px-2 py-1 rounded-xl"
          type="text"
          placeholder="Username"
          name="username"
          [(ngModel)]="signupObj.username"
        />
        <input
          class="border-2 px-2 py-1 rounded-xl"
          type="text"
          placeholder="Email"
          name="username"
          [(ngModel)]="signupObj.email"
        />
        <input
          class="border-2 px-2 py-1 rounded-xl"
          type="password"
          placeholder="password"
          name="password"
          [(ngModel)]="signupObj.password"
        />
        <button
          (click)="onSignUp()"
          class="border-2 py-1 border-pink-400 rounded-xl"
          type="submit"
        >
          Signup
        </button>
      </form>
    </div>
  </div>
</ng-container>
