<div class="flex">
  <!-- First div -->
  <div class="hidden sm:block w-[45%] ">
    <div class="flex pl-12">
      <ul class="flex flex-col text-2xl gap-4">
        <li class="w-fit px-6">
          <img
            class="hover:cursor-pointer hover:bg-zinc-300 p-2 rounded-full"
            src="../assets/logo.svg"
            alt=""
            srcset=""
          />
        </li>
        <li>
          <div
            class="hover:bg-zinc-300 hover:rounded-3xl p-2 px-6 w-fit hover:cursor-pointer"
          >
            <span class="material-symbols-outlined"> home </span
            ><span class="hidden xl:inline-block text-gray-500 ml-4">Home</span>
          </div>
        </li>
        <li>
          <div
            class="hover:bg-zinc-300 hover:rounded-3xl p-2 px-6 w-fit hover:cursor-pointer"
          >
            <span class="material-symbols-outlined"> search </span
            ><span class="hidden xl:inline-block text-gray-500 ml-4"
              >Explore</span
            >
          </div>
        </li>
        <li>
          <div
            class="hover:bg-zinc-300 flex hover:rounded-3xl p-2 px-6 w-fit hover:cursor-pointer"
          >
            <span class="material-symbols-outlined"> notifications </span
            ><span class="hidden xl:inline-block text-gray-500 ml-4"
              >Notifications</span
            >
          </div>
        </li>
        <li>
          <div
            class="hover:bg-zinc-300 hover:rounded-3xl flex p-2 px-6 w-fit hover:cursor-pointer"
          >
            <span class="material-symbols-outlined"> mail </span
            ><span class="hidden xl:inline-block text-gray-500 ml-4"
              >Messages</span
            >
          </div>
        </li>
      </ul>
    </div>
  </div>

  <!-- Middle div -->

  <div class=" w-[90%] mx-4 border">
    <div class="flex flex-col">
      <div class="flex">
        <div
          class="font-bold h-12 flex justify-center hover:cursor-pointer items-center w-1/2 hover:bg-gray-200 border-b-4 border-[#1D9BF0]"
        >
          For you
        </div>
        <div
          class="font-semibold h-12 w-1/2 flex justify-center hover:cursor-pointer items-center hover:bg-gray-200 text-gray-500"
        >
          Following
        </div>
        <div class="flex items-center pr-4">
          <span
            class="material-symbols-outlined hover:bg-gray-200 rounded-full hover:cursor-pointer p-1"
          >
            settings
          </span>
        </div>
      </div>
      <hr />
      <div class="pl-4">lkajsdflkads</div>
    </div>
  </div>

  <!-- Third Div  -->

  <div class="hidden lg:block w-[60%] pr-8 m-1">
    <div class="flex flex-col">
      <span class="material-symbols-outlined">
        <input
          class="bg-slate-100 w-full p-2 px-4 rounded-3xl"
          type="text"
          placeholder="Search"
        />
      </span>
    </div>
    <!-- Subscribe Section -->
    <div
      class="bg-[#F7F9F9] mt-4 p-4 rounded-xl hover:bg-gray-100 hover:cursor-pointer"
    >
      <div class="font-bold text-xl">Subscribe to Primium</div>
      <div>
        Subscribe to unlock new features and if eligible, receive a share of ads
        revenue.
      </div>
      <button
        class="bg-black text-white p-1 px-4 font-semibold rounded-3xl m-2"
      >
        Subscribe
      </button>
    </div>
    <div
      class="bg-[#F7F9F9] mt-4 p-4 rounded-xl w-full hover:bg-gray-100 hover:cursor-pointer font-bold"
    >
      <div class="text-2xl mb-4">What’s happening</div>

      <div class="flex justify-between">
        <div>
          <div>Paris Fashion Week Fall 2024</div>
          <div class="text-gray-500 font-light">Fashion . Live</div>
        </div>
        <img
          class="w-1/3 h-1/3 rounded-md"
          src="https://pbs.twimg.com/semantic_core_img/1762162853300109313/WQ0d7-9P?format=jpg&name=240x240"
        />
      </div>
    </div>
  </div>
</div>
