<div class="flex">
  <!-- First div -->
  <div class="hidden sm:block w-[45%]">
    <div class="flex pl-12">
      <ul class="flex flex-col text-2xl gap-4">
        <li class="w-fit px-6">
          <img
            class="hover:cursor-pointer hover:bg-zinc-300 p-2 rounded-full"
            src="../assets/logo.svg"
            alt=""
            srcset=""
          />
        </li>
        <li>
          <div
            class="hover:bg-zinc-300 hover:rounded-3xl p-2 px-6 w-fit hover:cursor-pointer"
          >
            <span class="material-symbols-outlined"> home </span
            ><span class="hidden xl:inline-block text-gray-500 ml-4">Home</span>
          </div>
        </li>
        <li>
          <div
            class="hover:bg-zinc-300 hover:rounded-3xl p-2 px-6 w-fit hover:cursor-pointer"
          >
            <span class="material-symbols-outlined"> search </span
            ><span class="hidden xl:inline-block text-gray-500 ml-4"
              >Explore</span
            >
          </div>
        </li>
        <li>
          <div
            class="hover:bg-zinc-300 flex hover:rounded-3xl p-2 px-6 w-fit hover:cursor-pointer"
          >
            <span class="material-symbols-outlined"> notifications </span
            ><span class="hidden xl:inline-block text-gray-500 ml-4"
              >Notifications</span
            >
          </div>
        </li>
        <li>
          <div
            class="hover:bg-zinc-300 hover:rounded-3xl flex p-2 px-6 w-fit hover:cursor-pointer"
          >
            <span class="material-symbols-outlined"> mail </span
            ><span class="hidden xl:inline-block text-gray-500 ml-4"
              >Messages</span
            >
          </div>
        </li>
      </ul>
    </div>
  </div>

  <!-- Middle div -->

  <div class="w-[90%] mx-4 border">
    <div class="flex flex-col">
      <div class="flex">
        <div
          class="font-bold h-12 flex justify-center hover:cursor-pointer items-center w-1/2 hover:bg-gray-200 border-b-4 border-[#1D9BF0]"
        >
          For you
        </div>
        <div
          class="font-semibold h-12 w-1/2 flex justify-center hover:cursor-pointer items-center hover:bg-gray-200 text-gray-500"
        >
          Following
        </div>
        <div class="flex items-center pr-4">
          <span
            class="material-symbols-outlined hover:bg-gray-200 rounded-full hover:cursor-pointer p-1"
          >
            settings
          </span>
        </div>
      </div>
      <hr />
      <!-- Photo and Post Section "What is happening" -->
      <div class="pl-4">
        <div class="flex mt-1">
          <img class="rounded-full" src="../assets/profilelogo.jpg" alt="" />
          <input
            class="text-xl pl-2 placeholder:text-gray-500"
            type="text"
            placeholder="What is happening?!"
          />
        </div>
        <div class="text-cyan-500 font-semibold items-center flex ml-12">
          <span class="material-symbols-outlined text-lg"> globe </span>Everyone
          can reply
        </div>
        <div class="flex mt-5 pl-12 justify-between">
          <div class="flex opacity-90 text-cyan-400 gap-x-3">
            <div>
              <span class="material-symbols-outlined text-[20px]"> image </span>
            </div>
            <div>
              <span class="material-symbols-outlined text-[20px]">
                gif_box
              </span>
            </div>
            <div>
              <span class="material-symbols-outlined text-[20px]"> mood </span>
            </div>
            <div>
              <span class="material-symbols-outlined text-[20px]">
                location_on
              </span>
            </div>
          </div>
          <div class="pr-4">
            <button
              class="bg-cyan-500 opacity-50 px-5 py-2 rounded-3xl font-semibold text-white"
            >
              Post
            </button>
          </div>
        </div>
      </div>
      <!-- End Photo Section -->
    </div>
    <hr class="mt-2" />
    <div class="hover:bg-gray-100">
      <div class="text-cyan-500 flex justify-center py-2">Show 385 posts</div>
    </div>
    <hr />
    <div>
      <div>
        <div class="flex justify-end">
          <div
            class="flex items-center rounded-full p-2 hover:text-cyan-500 hover:bg-cyan-50 right-4 text-3xl"
          >
            <span class="material-symbols-outlined hover:cursor-pointer">
              more_horiz
            </span>
          </div>
        </div>
      </div>

      <div class="p-4">
        <div class="text-2xl font-bold">Go ad free</div>
        <div class="opacity-80 mt-2">
          Enjoy ad-free For You and Following timelines with Premium+
        </div>
        <div class="mt-2">
          <Button class="bg-black py-2 px-5 text-white font-bold rounded-3xl"
            >Subscribe</Button
          >
        </div>
      </div>
      <hr />
      <div class="p-4">
        <div class="flex justify-between">
          <div class="flex">
            <img class="rounded-full" src="../assets/profilelogo.jpg" alt="" />
            <div class="flex flex-wrap gap-1 pl-2">
              <div class="font-semibold">Ashutosh Singh</div>

              <span class="text-cyan-400 material-symbols-outlined">
                verified
              </span>
              <div class="opacity-90">&#64;ashutoshsingh </div>
              <div class="opacity-90">march 5</div>
            </div>
          </div>
          <div
            class="flex rounded-full p-2 hover:text-cyan-500 hover:bg-cyan-50 text-3xl"
          >
            <span class="material-symbols-outlined hover:cursor-pointer">
              more_horiz
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Third Div  -->

  <div class="hidden lg:block w-[60%] pr-8 m-1">
    <div class="flex flex-col">
      <span class="material-symbols-outlined">
        <input
          class="bg-slate-100 w-full p-2 px-4 rounded-3xl"
          type="text"
          placeholder="Search"
        />
      </span>
    </div>
    <!-- Subscribe Section -->
    <div
      class="bg-[#F7F9F9] mt-4 p-4 rounded-xl hover:bg-gray-100 hover:cursor-pointer"
    >
      <div class="font-bold text-xl">Subscribe to Primium</div>
      <div>
        Subscribe to unlock new features and if eligible, receive a share of ads
        revenue.
      </div>
      <button
        class="bg-black text-white p-1 px-4 font-semibold rounded-3xl m-2"
      >
        Subscribe
      </button>
    </div>
    <div
      class="bg-[#F7F9F9] mt-4 p-4 rounded-xl w-full hover:bg-gray-100 hover:cursor-pointer font-bold"
    >
      <div class="text-2xl mb-4">What’s happening</div>

      <div class="flex justify-between">
        <div>
          <div>Paris Fashion Week Fall 2024</div>
          <div class="text-gray-500 font-light">Fashion . Live</div>
        </div>
        <img
          class="w-1/3 h-1/3 rounded-md"
          src="https://pbs.twimg.com/semantic_core_img/1762162853300109313/WQ0d7-9P?format=jpg&name=240x240"
        />
      </div>
    </div>
  </div>
</div>
